/*
	Task: Perform a few style edits: 
		link colors should be #0096ff,
			Solution: 'a' selector has it's color set to specification.
		The title of the page should be 36 pixels high. 
			Solution: 'title' class has a font size of 36.
		The tagline of the page should be 18.
			Solution: 'tagline' class has a font size of 18.
		Title of each product should be 16 pixels high. 
			Solution: '.product-container .title' class has a font size of 16.
		The product tagline should be 16. 
			Solution: '.product-container .tagline' class has a font size of 16.
		Center everything on the page including titles and the products display.
			Solution: 'body' has text aligned in the center, row-centered and col-centered classes center products.
*/

body {
	font-family: "Arial";
	text-align: center;
}

a {
	text-decoration: none;
	color: #0096ff;
}

#content {
	display: none;
}

.title {
	font-size: 36px;
}

.tagline {
	font-size: 18px;	
}

.product-container .title,  .product-container .tagline{
	font-size: 16px;
}

.product-container {
	width: 300px;
	border: 1px solid #aaa;
	margin: 10px;
	display: inline-block;
	position:  relative;
}

.product-container img{
	width: 100%;
	height: auto;
}

.description {
	padding: 10px;
}

.product-container .product-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: scroll;
	display: none;
}

.product-container .product-overlay p {
	margin: 5%;
}

.remove-product {
	margin-top: 5%;
	margin-left: 87.5%;
    font-size: 1.7em;
}

/* On extremely small devices, shrink product width to accomodate a lesser window width */
@media(max-width: 300px){
	.product-container {
		width: 150px;
		border: 1px solid #aaa;
		margin: 10px;
		display: inline-block;
		position:  relative;
	}
}

/* 
	Classes to center Bootstrap columns
	Resource used: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns;
*/

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/* 
	Pulsing animation for Loading 
	Resource: http://stackoverflow.com/questions/20895891/animate-pulsing-effect-using-css3-transform-scale-and-jquery;
*/

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}

#loader h2{
    animation: pulse 3s linear infinite;
}