body {
	font-family: "Arial"
}

a {
	text-decoration: none;
}

.product-container {
	width: 300px;
	border: 1px solid #aaa;
	margin: 10px;
	display: inline-block;
	position:  relative;
}

.product-container img{
	width: 100%;
	height: auto;
}

.title {
	font-size: 20px;
}

.description {
	padding: 10px;
}

.product-container .product-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: scroll;
	display: none;
}

.product-container .product-overlay p {
	margin: 5%;
}

.remove-product {
	margin-top: 5%;
	margin-left: 87.5%;
    font-size: 1.7em;
}

/* 
	Classes to center Bootstrap columns
	Resource used: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns;
*/

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/* On extremely small devices, shrink product width to accomodate a lesser window width */
@media(max-width: 300px){
	.product-container {
		width: 150px;
		border: 1px solid #aaa;
		margin: 10px;
		display: inline-block;
		position:  relative;
	}
}